* {
  box-sizing: border-box;
}

#component-container {
  max-width: 1000px;
  margin: 0 auto;
}

.privacy-notice-app {

  // Variables
  $color-font: #000000;
  $color-link: #000000;
  $color-link-hover: #000000;
  $color-gray: #F0F0F0;

  // Mixins
  @mixin breakpoint-max($width) {
    @media screen and (max-width: $width) {
      @content;
    }
  }

  @mixin breakpoint-min($width) {
    @media screen and (min-width: $width) {
      @content;
    }
  }
  
  // Common
  font-family: 'Arial',sans-serif;
  font-size: 14px;
  line-height: 1.8;
  color: $color-font;
  a,a:active,a:visited,a:focus {
    color: $color-link;
  }
  a:hover {
    color: $color-link-hover;
  }
  a:active, a:hover {
    outline: 0;
  }
  h1,h2,h3,h4,h5 {
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1.1;
    color: inherit;
  }
  h1 {
    font-size:40px;
    letter-spacing:-0.032em;
    font-weight:bold;
  }
  h2 {
    font-size: 33px;
    letter-spacing:-0.022em;
    font-weight:normal;
  }
  h3 {
    font-size: 25px;
    letter-spacing:-0.022em;
    font-weight:normal;
  }
  h4 {
    font-size: 18px;
    font-weight:normal;
  }

  > h1 {
    margin-bottom: 30px;
  }

  // Main styles
  main {
    display: flex;
    flex-wrap: wrap;
    .side-nav {
      width: 30%;
      @include breakpoint-max(760px) {
        width: 100%;
      }
    }
    .articles {
      flex: 1;
      @include breakpoint-max(760px) {
        width: 100%;
        flex: initial;
      }
    }
  }

  // Component
  .tabbed-nav {
    margin-bottom: 15px;
    @include breakpoint-max(760px) {
      text-align: center;
    }
    &::before {
      display: table;
      content: " ";
    }
    &::after {
      display: table;
      content: " ";
      clear: both;
    }
    ul {
      padding: 0 0 20px;
      margin: 0;
      list-style: none;
      border-bottom: 2px solid #eee;
      &::before {
        display: table;
        content: " ";
      }
      &::after {
        display: table;
        content: " ";
        clear: both;
      }
      > li {
        position: relative;
        display: inline-block;
        &.active {
          > a {
            font-weight: 600;
            cursor: default;
            color: $color-link;
            background: transparent;
          }
        }
        &:hover {
          cursor: pointer;
        }
        > a {
          text-decoration: none;
          position: relative;
          display: block;
          padding: 0 15px;
          line-height: 1.42857143;
          background-color: transparent;
          border: 1px solid $color-font;
          border-width: 0 0 0 1px;
          color: $color-link;
          font-weight: normal;
          &:hover {
            color: $color-link-hover;
            background: transparent;
            text-decoration: none;
          }
        }
        &:first-child {
          a {
            padding-left: 0;
            border-left-width: 0;
          }
        }
        &:last-child {
          a {
            padding-right: 0;
          }
        }
      } 
    }
  }

  // Component: Sidebar
  .side-nav {
    margin-bottom: 50px;
    padding-right: 15px;
    @include breakpoint-max(760px) {
      padding-right: 0;
    }
    .bg-gray {
      background-color: $color-gray;
      padding: 30px 20px;
    }
    ul {
      padding-left: 15px;
      list-style: disc;
      color: $color-link;
      li {
        a {
          text-decoration: none;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
    .extra {
      margin-top: 20px;
    }
  }

  // Component: Articles
  .articles {
    margin-bottom: 50px;
    padding: 30px 0 0 30px;
    @include breakpoint-max(760px) {
      padding-left: 0;
    }
    .article {
      margin-bottom: 50px;
      .anchor {
        display: block; 
        position: relative; 
        top: -90px; 
        visibility: hidden;
      }
      &:last-child {
        margin-bottom: 0;
      }
      p {
        margin: 0 0 10px;
      }
      .intro {
        margin: 0 0 10px;
        table {
          margin: 20px 0;
          border-collapse: collapse;
          td {
            padding: 10px 15px;
            vertical-align: top;
            border: 1px solid $color-gray;
          }
          ul,ol {
            padding-left: 15px;
          }
        }
      }
      .content {
        overflow: hidden;
        transition: height .25s ease-out;
        background-color: #FAFAFA;
        will-change: height;
        &.expanded {
          margin: 0 0 10px;
        }
        > div {
          padding: 20px 40px;
          
        }
      }
      .more {
        a {
          font-weight: 600;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}